{% extends 'base/base.html' %}
{% load static%}
<div class="title">
                  <h2><ya-tr-span data-index="77-0" data-value="Latest News" data-translation="Последние новости" data-type="trSpan" data-selected="false">Последние новости</ya-tr-span></h2>
                  <ul>
                     <li><a href="#"><ya-tr-span data-index="78-0" data-value="All" data-translation="Все" data-type="trSpan">Все</ya-tr-span></a></li>
                     <li><a href="#"><ya-tr-span data-index="79-0" data-value="Travel" data-translation="Путешествия" data-type="trSpan">Путешествия</ya-tr-span></a></li>
                     <li><a href="#"><ya-tr-span data-index="80-0" data-value="Tech" data-translation="Технологии" data-type="trSpan">Технологии</ya-tr-span></a></li>
                     <li><a href="#"><ya-tr-span data-index="81-0" data-value="Sports" data-translation="Спорт" data-type="trSpan">Спорт</ya-tr-span></a></li>
                     <li><a href="#"><ya-tr-span data-index="82-0" data-value="Food" data-translation="Еда" data-type="trSpan">Еда</ya-tr-span></a></li>
                     <li><a href="#"><ya-tr-span data-index="83-0" data-value="LifeStyle" data-translation="Образ жизни" data-type="trSpan">Образ жизни</ya-tr-span></a></li>
                     <li><a href="#"><ya-tr-span data-index="84-0" data-value="Fashion" data-translation="Ультрамодные модели" data-type="trSpan">Ультрамодные модели</ya-tr-span></a></li>
                  </ul>
               </div>
<div class="col-sm-6 col-md-6 pad">
                  <div class="blog-content">
                     <!-- .blog-content -->
                     <img src="assets/img/lnimgebig.jpg" alt="lnimgebig">
                     <div class="blog-text">
                        <div class="subject"><ya-tr-span data-index="62-0" data-value="TRAVEL" data-translation="ПУТЕШЕСТВИЯ" data-type="trSpan">ПУТЕШЕСТВИЯ</ya-tr-span></div>
                        <h3><a href="#"><ya-tr-span data-index="63-0" data-value="INCREDIBLE CLAIMS Could sickly man be worst serial killer?" data-translation="НЕВЕРОЯТНЫЕ УТВЕРЖДЕНИЯ Может ли больной человек быть худшим серийным убийцей?" data-type="trSpan">НЕВЕРОЯТНЫЕ УТВЕРЖДЕНИЯ Может ли больной человек быть худшим серийным убийцей?</ya-tr-span></a></h3>
                        <span class="post-date"><ya-tr-span data-index="30-0" data-value="Posted On July 22, 2016" data-translation="Опубликовано 22 Июля 2016" data-type="trSpan">Опубликовано 22 Июля 2016</ya-tr-span></span>
                        <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="30-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        <p><ya-tr-span data-index="31-0" data-value="Precariously positioned on the banks of both the IJ Bay and the Amstel
 " data-translation="Опасно расположен на берегах залива Ий и Амстела
 " data-type="trSpan">Опасно расположен на берегах залива Ий и Амстела
 </ya-tr-span><ya-tr-span data-index="31-1" data-value="River headwaters, Amsterdam made an early mark on the world with its
 dominant seafaring fleet and colonial aspirations in the 17th and 18th
 centuries.
 " data-translation="Истоки реки, Амстердам рано оставил след в мире с его
доминирующим морским флотом и колониальными устремлениями в 17 и 18
веках.
 " data-type="trSpan">Истоки реки, Амстердам рано оставил след в мире с его
доминирующим морским флотом и колониальными устремлениями в 17 и 18
веках.
 </ya-tr-span></p>
                     </div>
                     <!-- /.blog-content -->
                  </div>
               </div>
<div class="col-sm-6 col-md-6">
                  <!-- .weghiet -->
                  <div class="weghiet">
                     <div class="col-sm-4 col-md-4 pad">
                        <img src="assets/img/inimgsmall.jpg" alt="inimgsmall">
                     </div>
                     <div class="col-sm-8 col-md-8 pad">
                        <h4><a href="#"><ya-tr-span data-index="85-0" data-value="TV host’s hand impaled on nail in failed magic trick" data-translation="Рука телеведущего насажена на гвоздь в неудачном фокусе" data-type="trSpan" data-selected="false">Рука телеведущего насажена на гвоздь в неудачном фокусе</ya-tr-span></a></h4>
                        <span class="post-date"><ya-tr-span data-index="86-0" data-value="Posted On July 22, 2016" data-translation="Опубликовано 22 Июля 2016" data-type="trSpan">Опубликовано 22 Июля 2016</ya-tr-span></span>
                        <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="86-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                     </div>
                  </div>
                  <!-- /.weghiet -->
                  <!-- .weghiet -->
                  <div class="weghiet">
                     <div class="col-sm-4 col-md-4 pad">
                        <img src="assets/img/inimgsmall2.jpg" alt="inimgsmall3">
                     </div>
                     <div class="col-sm-8 col-md-8 pad">
                        <h4><a href="#"><ya-tr-span data-index="87-0" data-value="Five ugly truths about Gilmore Girls " data-translation="Пять уродливых истин о девушках Гилмор " data-type="trSpan" data-selected="false">Пять уродливых истин о девушках Гилмор </ya-tr-span></a></h4>
                        <span class="post-date"><ya-tr-span data-index="64-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                        <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="64-0" data-value=" 100" data-translation=" 100" data-type="trSpan"> 100</ya-tr-span></span>
                     </div>
                  </div>
                  <!-- /.weghiet -->
                  <!-- .weghiet -->
                  <div class="weghiet">
                     <div class="col-sm-4 col-md-4 pad">
                        <img src="assets/img/inimgsmall3.jpg" alt="inimgsmall3">
                     </div>
                     <div class="col-sm-8 col-md-8 pad">
                        <h4><a href="#"><ya-tr-span data-index="65-0" data-value="One more time? " data-translation="Еще раз? " data-type="trSpan">Еще раз? </ya-tr-span><ya-tr-span data-index="65-1" data-value="Federer’s golden opportunity" data-translation="Золотая возможность Федерера" data-type="trSpan" data-selected="false">Золотая возможность Федерера</ya-tr-span></a></h4>
                        <span class="post-date"><ya-tr-span data-index="66-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                        <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="66-0" data-value=" 100" data-translation=" 100" data-type="trSpan"> 100</ya-tr-span></span>
                     </div>
                  </div>
                  <!-- /.weghiet -->
                  <!-- .weghiet -->
                  <div class="weghiet">
                     <div class="col-sm-4 col-md-4 pad">
                        <img src="assets/img/inimgsmall4.jpg" alt="inimgsmall4">
                     </div>
                     <div class="col-sm-8 col-md-8 pad">
                        <h4><a href="#"><ya-tr-span data-index="67-0" data-value="Bullied by wedding guests over her dress" data-translation="Над ней издевались свадебные гости из-за ее платья" data-type="trSpan">Над ней издевались свадебные гости из-за ее платья</ya-tr-span></a></h4>
                        <span class="post-date"><ya-tr-span data-index="68-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                        <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="68-0" data-value=" 100" data-translation=" 100" data-type="trSpan"> 100</ya-tr-span></span>
                     </div>
                  </div>
                  <!-- /.weghiet -->
                  <!-- .weghiet -->
                  <div class="weghiet">
                     <div class="col-sm-4 col-md-4 pad">
                        <img src="assets/img/inimgsmall5.jpg" alt="inimgsmall5">
                     </div>
                     <div class="col-sm-8 col-md-8 pad">
                        <h4><a href="#"><ya-tr-span data-index="32-0" data-value="Winners and losers we didn’t see coming" data-translation="Победителей и проигравших мы не предвидели" data-type="trSpan" data-selected="false">Победителей и проигравших мы не предвидели</ya-tr-span></a></h4>
                        <span class="post-date"><ya-tr-span data-index="33-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                        <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="33-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                     </div>
                  </div>
                  <!-- /.weghiet -->
                  <!-- .weghiet -->
                  <div class="weghiet">
                     <div class="col-sm-4 col-md-4 pad">
                        <img src="assets/img/inimgsmall6.jpg" alt="inimgsmall6">
                     </div>
                     <div class="col-sm-8 col-md-8 pad">
                        <h4><a href="#"><ya-tr-span data-index="34-0" data-value="TV host’s hand impaled on nail in failed magic trick" data-translation="Рука телеведущего насажена на гвоздь в неудачном фокусе" data-type="trSpan" data-selected="false">Рука телеведущего насажена на гвоздь в неудачном фокусе</ya-tr-span></a></h4>
                        <span class="post-date"><ya-tr-span data-index="35-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                        <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="35-0" data-value=" 100" data-translation=" 100" data-type="trSpan"> 100</ya-tr-span></span>
                     </div>
                  </div>
                  <!-- /.weghiet -->
               </div>
