{% load static%}

<section>
         <div class="container">
            <div class="col-sm-4 col-md-4">
               <!-- .title -->
               <!-- .title -->
               <div class="title">
                  <h2><ya-tr-span data-index="234-0" data-value="TRAVEL" data-translation="ПУТЕШЕСТВИЯ" data-type="trSpan">ПУТЕШЕСТВИЯ</ya-tr-span></h2>
               </div>
               <!-- /.title -->
               <!-- .most-popular-carousel -->
               <div class="owl-carousel owl-theme carousel" style="opacity: 1; display: block;">
                  <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1132px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 283px;"><div>
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/inimgsmall.jpg" alt="inimgsmall">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="235-0" data-value="TV host’s hand impaled on nail in failed magic trick" data-translation="Рука телеведущего насажена на гвоздь в неудачном фокусе" data-type="trSpan">Рука телеведущего насажена на гвоздь в неудачном фокусе</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="236-0" data-value="Posted On July 22, 2016" data-translation="Опубликовано 22 Июля 2016" data-type="trSpan">Опубликовано 22 Июля 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="236-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/inimgsmall2.jpg" alt="inimgsmall3">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="237-0" data-value="Five ugly truths about Gilmore Girls " data-translation="Пять уродливых истин о девушках Гилмор " data-type="trSpan">Пять уродливых истин о девушках Гилмор </ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="172-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="172-0" data-value=" 100" data-translation=" 100" data-type="trSpan"> 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/inimgsmall3.jpg" alt="inimgsmall3">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="173-0" data-value="One more time? " data-translation="Еще раз? " data-type="trSpan">Еще раз? </ya-tr-span><ya-tr-span data-index="173-1" data-value="Federer’s golden opportunity" data-translation="Золотая возможность Федерера" data-type="trSpan">Золотая возможность Федерера</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="174-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="174-0" data-value=" 100" data-translation=" 100" data-type="trSpan"> 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/inimgsmall4.jpg" alt="inimgsmall4">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="175-0" data-value="Bullied by wedding guests over her dress" data-translation="Над ней издевались свадебные гости из-за ее платья" data-type="trSpan">Над ней издевались свадебные гости из-за ее платья</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="176-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="176-0" data-value=" 100" data-translation=" 100" data-type="trSpan"> 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/inimgsmall5.jpg" alt="inimgsmall5">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="177-0" data-value="Winners and losers we didn’t see coming" data-translation="Победителей и проигравших мы не видели" data-type="trSpan">Победителей и проигравших мы не видели</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="178-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="178-0" data-value=" 100" data-translation=" 100" data-type="trSpan"> 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                  </div></div><div class="owl-item" style="width: 283px;"><div>
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/inimgsmall.jpg" alt="inimgsmall">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="238-0" data-value="TV host’s hand impaled on nail in failed magic trick" data-translation="Рука телеведущего насажена на гвоздь в неудачном фокусе" data-type="trSpan">Рука телеведущего насажена на гвоздь в неудачном фокусе</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="239-0" data-value="Posted On July 22, 2016" data-translation="Опубликовано 22 Июля 2016" data-type="trSpan">Опубликовано 22 Июля 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="239-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/inimgsmall2.jpg" alt="inimgsmall3">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="240-0" data-value="Five ugly truths about Gilmore Girls " data-translation="Пять уродливых истин о девушках Гилмор " data-type="trSpan">Пять уродливых истин о девушках Гилмор </ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="179-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="179-0" data-value=" 100" data-translation=" 100" data-type="trSpan"> 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/inimgsmall3.jpg" alt="inimgsmall3">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="180-0" data-value="One more time? " data-translation="Еще раз? " data-type="trSpan">Еще раз? </ya-tr-span><ya-tr-span data-index="180-1" data-value="Federer’s golden opportunity" data-translation="Золотая возможность Федерера" data-type="trSpan">Золотая возможность Федерера</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="181-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="181-0" data-value=" 100" data-translation=" 100" data-type="trSpan"> 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/inimgsmall4.jpg" alt="inimgsmall4">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="182-0" data-value="Bullied by wedding guests over her dress" data-translation="Над ней издевались свадебные гости из-за ее платья" data-type="trSpan">Над ней издевались свадебные гости из-за ее платья</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="183-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="183-0" data-value=" 100" data-translation=" 100" data-type="trSpan"> 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/inimgsmall5.jpg" alt="inimgsmall5">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="184-0" data-value="Winners and losers we didn’t see coming" data-translation="Победителей и проигравших мы не предвидели" data-type="trSpan">Победителей и проигравших мы не предвидели</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="185-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="185-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                  </div></div></div></div>

               <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
               <!-- /.most-popular-carousel -->
            </div>
            <div class="col-sm-4 col-md-4">
               <!-- .title -->
               <!-- .title -->
               <div class="title">
                  <h2><ya-tr-span data-index="241-0" data-value="FASHION" data-translation="МОДА" data-type="trSpan">МОДА</ya-tr-span></h2>
               </div>
               <!-- /.title -->
               <!-- .most-popular-carousel -->
               <div class="owl-carousel owl-theme carousel" style="opacity: 1; display: block;">
                   <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1132px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 283px;"><div>
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/fashion-img1.jpg" alt="мода-img1">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="242-0" data-value="Petra Collins Travels to Tokyo With Gucci" data-translation="Петра Коллинз Едет в Токио с Gucci" data-type="trSpan">Петра Коллинз Едет в Токио с Gucci</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="243-0" data-value="Posted On July 22, 2016" data-translation="Опубликовано 22 Июля 2016" data-type="trSpan">Опубликовано 22 Июля 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="243-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/fashion-img2.jpg" alt="мода-img2">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="244-0" data-value="Giovanna Battaglia Wears Couture, and Eats Pizza " data-translation="Джованна Баталья Носит Одежду от Кутюр и ест Пиццу " data-type="trSpan">Джованна Баталья Носит Одежду от Кутюр и ест Пиццу </ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="186-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="186-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/fashion-img3.jpg" alt="мода-img3">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="187-0" data-value="Eva Green’s Beauty Evolution" data-translation="Эволюция красоты Евы Грин" data-type="trSpan">Эволюция красоты Евы Грин</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="188-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="188-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/fashion-img4.jpg" alt="мода-img4">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="189-0" data-value="Lounge in Silk, Lace, and Cotton Instead of Sweats" data-translation="Нежитесь в шелке, кружевах и хлопке вместо пота" data-type="trSpan">Нежитесь в шелке, кружевах и хлопке вместо пота</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="190-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="190-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/fashion-img5.jpg" alt="мода-img5">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="191-0" data-value="Hawaiian Shirts Have Taken Over Street Style" data-translation="Гавайские Рубашки Взяли Верх Над Уличным Стилем" data-type="trSpan">Гавайские Рубашки Взяли Верх Над Уличным Стилем</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="192-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="192-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                  </div></div><div class="owl-item" style="width: 283px;"><div>
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/fashion-img1.jpg" alt="мода-img1">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="245-0" data-value="Petra Collins Travels to Tokyo With Gucci" data-translation="Петра Коллинз Едет в Токио с Gucci" data-type="trSpan">Петра Коллинз Едет в Токио с Gucci</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="246-0" data-value="Posted On July 22, 2016" data-translation="Опубликовано 22 Июля 2016" data-type="trSpan">Опубликовано 22 Июля 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="246-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/fashion-img2.jpg" alt="мода-img2">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="247-0" data-value="Giovanna Battaglia Wears Couture, and Eats Pizza " data-translation="Джованна Батталья Носит одежду От Кутюр и Ест Пиццу " data-type="trSpan">Джованна Батталья Носит одежду От Кутюр и Ест Пиццу </ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="193-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="193-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/fashion-img3.jpg" alt="мода-img3">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="194-0" data-value="Eva Green’s Beauty Evolution" data-translation="Эволюция красоты Евы Грин" data-type="trSpan">Эволюция красоты Евы Грин</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="195-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="195-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/fashion-img4.jpg" alt="мода-img4">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="196-0" data-value="Lounge in Silk, Lace, and Cotton Instead of Sweats" data-translation="Нежитесь в шелке, кружевах и хлопке вместо пота" data-type="trSpan">Нежитесь в шелке, кружевах и хлопке вместо пота</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="197-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="197-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/fashion-img5.jpg" alt="мода-img5">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="198-0" data-value="Hawaiian Shirts Have Taken Over Street Style" data-translation="Гавайские Рубашки Взяли Верх Над Уличным Стилем" data-type="trSpan">Гавайские Рубашки Взяли Верх Над Уличным Стилем</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="199-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="199-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                  </div></div></div></div>

               <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
               <!-- /.most-popular-carousel -->
            </div>
            <div class="col-sm-4 col-md-4">
               <!-- .title -->
               <!-- .title -->
               <div class="title">
                  <h2><ya-tr-span data-index="248-0" data-value="FOOD" data-translation="ЕДА" data-type="trSpan">ЕДА</ya-tr-span></h2>
               </div>
               <!-- /.title -->
               <!-- .most-popular-carousel -->
               <div class="owl-carousel owl-theme carousel" style="opacity: 1; display: block;">
                  <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1132px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 283px;"><div>
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/food-img1.jpg" alt="еда-img1">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="249-0" data-value="London’s first naked restaurant opensplanet" data-translation="Первый в Лондоне голый ресторан opensplanet" data-type="trSpan">Первый в Лондоне голый ресторан opensplanet</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="250-0" data-value="Posted On July 22, 2016" data-translation="Опубликовано 22 Июля 2016" data-type="trSpan">Опубликовано 22 Июля 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="250-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/food-img2.jpg" alt="еда-img2">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="251-0" data-value="Eating full fat foods 'can lower chance of obesity'" data-translation="Употребление полножирной пищи &quot;может снизить вероятность ожирения&quot;" data-type="trSpan">Употребление полножирной пищи "может снизить вероятность ожирения"</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="200-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="200-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/food-img3.jpg" alt="еда-img3">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="201-0" data-value="Could craft beer spell an end to Camra?" data-translation="Может ли крафтовое пиво положить конец Камре?" data-type="trSpan">Может ли крафтовое пиво положить конец Камре?</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="202-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="202-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/food-img4.jpg" alt="еда-img4">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="203-0" data-value="Will the sugar tax really make Britain less fat?" data-translation="Действительно ли налог на сахар сделает Британию менее жирной?" data-type="trSpan">Действительно ли налог на сахар сделает Британию менее жирной?</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="204-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="204-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/food-img5.jpg" alt="еда-img5">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#"><ya-tr-span data-index="205-0" data-value="A water-only cocktail bar is opening in London" data-translation="В Лондоне открывается коктейль-бар только с водой" data-type="trSpan">В Лондоне открывается коктейль-бар только с водой</ya-tr-span></a></h4>
                           <span class="post-date"><ya-tr-span data-index="206-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="206-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                  </div></div><div class="owl-item" style="width: 283px;"><div>
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/food-img1.jpg" alt="еда-img1">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#">London’s first naked restaurant opensplanet</a></h4>
                           <span class="post-date">Posted On July 22, 2016</span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/food-img2.jpg" alt="еда-img2">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#">Eating full fat foods 'can lower chance of obesity'</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/food-img3.jpg" alt="еда-img3">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#">Could craft beer spell an end to Camra?</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/food-img4.jpg" alt="еда-img4">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#">Will the sugar tax really make Britain less fat?</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                     <!-- .weghiet -->
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="assets/img/food-img5.jpg" alt="еда-img5">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="#">A water-only cocktail bar is opening in London</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>
                        </div>
                     </div>
                     <!-- /.weghiet -->
                  </div></div></div></div>

               <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
               <!-- /.most-popular-carousel -->
            </div>
         </div>
      </section>
