<div class="col-sm-4 col-md-4">
               <section class="add lft-social">
                  <div class="col-md-12 border">
                     <div class="col-sm-4 col-md-4 text-center">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <div class="text">
                           <strong><ya-tr-span data-index="88-0" data-value="4.000" data-translation="4.000" data-type="trSpan">4.000</ya-tr-span></strong>
                           <br><ya-tr-span data-index="88-0" data-value="
 " data-translation="
 " data-type="trSpan">
 </ya-tr-span><ya-tr-span data-index="88-1" data-value="Fans
 " data-translation="Фанаты
 " data-type="trSpan">Фанаты
 </ya-tr-span></div>
                     </div>
                     <div class="col-sm-4 col-md-4 text-center">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <div class="text">
                           <strong><ya-tr-span data-index="89-0" data-value="3.000" data-translation="3.000" data-type="trSpan">3.000</ya-tr-span></strong>
                           <br><ya-tr-span data-index="89-0" data-value="
 " data-translation="
 " data-type="trSpan">
 </ya-tr-span><ya-tr-span data-index="89-1" data-value="Followers
 " data-translation="Последователи
 " data-type="trSpan">Последователи
 </ya-tr-span></div>
                     </div>
                     <div class="col-sm-4 col-md-4 text-center">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        <div class="text">
                           <strong><ya-tr-span data-index="90-0" data-value="2.000" data-translation="2.000" data-type="trSpan" data-selected="false">2.000</ya-tr-span></strong>
                           <br><ya-tr-span data-index="90-0" data-value="
 " data-translation="
 " data-type="trSpan" data-selected="false">
 </ya-tr-span><ya-tr-span data-index="90-1" data-value="Subscribers
 " data-translation="Абоненты
 " data-type="trSpan">Абоненты
 </ya-tr-span></div>
                     </div>
                  </div>
               </section>
               <section class="add">
                  <div class="col-md-12 border">
                     <img src="assets/img/side-banner.jpg" alt="боковое знамя">
                  </div>
               </section>
               <section class="most-popular">
                  <!-- .title -->
                  <div class="title">
                     <h2><ya-tr-span data-index="49-0" data-value="MOST POPULAR" data-translation="ПОПУЛЯРНЫЕ" data-type="trSpan">ПОПУЛЯРНЫЕ</ya-tr-span></h2>
                  </div>
                  <!-- /.title -->
                  <!-- .most-popular-carousel -->
                  <div class="owl-carousel owl-theme carousel" style="opacity: 1; display: block;">
                     <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1132px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 283px;"><div>
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall.jpg" alt="inimgsmall">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#"><ya-tr-span data-index="50-0" data-value="TV host’s hand impaled on nail in failed magic trick" data-translation="Рука телеведущего, насаженная на гвоздь в неудачном фокусе" data-type="trSpan" data-selected="false">Рука телеведущего, насаженная на гвоздь в неудачном фокусе</ya-tr-span></a></h4>
                              <span class="post-date"><ya-tr-span data-index="51-0" data-value="Posted On July 22, 2016" data-translation="Опубликовано 22 Июля 2016" data-type="trSpan">Опубликовано 22 Июля 2016</ya-tr-span></span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="51-0" data-value=" 100" data-translation=" 100" data-type="trSpan"> 100</ya-tr-span></span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall2.jpg" alt="inimgsmall3">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#"><ya-tr-span data-index="52-0" data-value="Five ugly truths about Gilmore Girls " data-translation="Пять уродливых истин о девушках Гилмор " data-type="trSpan">Пять уродливых истин о девушках Гилмор </ya-tr-span></a></h4>
                              <span class="post-date"><ya-tr-span data-index="53-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="53-0" data-value=" 100" data-translation=" 100" data-type="trSpan"> 100</ya-tr-span></span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall3.jpg" alt="inimgsmall3">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#"><ya-tr-span data-index="54-0" data-value="One more time? " data-translation="Еще раз? " data-type="trSpan">Еще раз? </ya-tr-span><ya-tr-span data-index="54-1" data-value="Federer’s golden opportunity" data-translation="Золотая возможность Федерера" data-type="trSpan">Золотая возможность Федерера</ya-tr-span></a></h4>
                              <span class="post-date"><ya-tr-span data-index="55-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="55-0" data-value=" 100" data-translation=" 100" data-type="trSpan"> 100</ya-tr-span></span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall4.jpg" alt="inimgsmall4">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#"><ya-tr-span data-index="56-0" data-value="Bullied by wedding guests over her dress" data-translation="Над ней издевались свадебные гости из-за ее платья" data-type="trSpan">Над ней издевались свадебные гости из-за ее платья</ya-tr-span></a></h4>
                              <span class="post-date"><ya-tr-span data-index="57-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="57-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall5.jpg" alt="inimgsmall5">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#"><ya-tr-span data-index="58-0" data-value="Winners and losers we didn’t see coming" data-translation="Победителей и проигравших мы не предвидели" data-type="trSpan">Победителей и проигравших мы не предвидели</ya-tr-span></a></h4>
                              <span class="post-date"><ya-tr-span data-index="59-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="59-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall6.jpg" alt="inimgsmall6">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#"><ya-tr-span data-index="60-0" data-value="TV host’s hand impaled on nail in failed magic trick" data-translation="Рука телеведущего насажена на гвоздь в неудачном фокусе" data-type="trSpan">Рука телеведущего насажена на гвоздь в неудачном фокусе</ya-tr-span></a></h4>
                              <span class="post-date"><ya-tr-span data-index="61-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="61-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall7.jpg" alt="inimgsmall7">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#"><ya-tr-span data-index="104-0" data-value="Bishop calls for calm over PNG protests" data-translation="Бишоп призывает к спокойствию в связи с протестами PNG" data-type="trSpan">Бишоп призывает к спокойствию в связи с протестами PNG</ya-tr-span></a></h4>
                              <span class="post-date"><ya-tr-span data-index="105-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="105-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall8.jpg" alt="inimgsmall8">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#"><ya-tr-span data-index="106-0" data-value="Bishop calls for calm over PNG protests" data-translation="Бишоп призывает к спокойствию в связи с протестами PNG" data-type="trSpan">Бишоп призывает к спокойствию в связи с протестами PNG</ya-tr-span></a></h4>
                              <span class="post-date"><ya-tr-span data-index="107-0" data-value="Posted On December 22, 2016" data-translation="Опубликовано 22 Декабря 2016" data-type="trSpan">Опубликовано 22 Декабря 2016</ya-tr-span></span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i><ya-tr-span data-index="107-0" data-value=" 100" data-translation=" Г. 100" data-type="trSpan"> Г. 100</ya-tr-span></span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                     </div></div><div class="owl-item" style="width: 283px;"><div>
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall.jpg" alt="inimgsmall">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#">TV host’s hand impaled on nail in failed magic trick</a></h4>
                              <span class="post-date">Posted On July 22, 2016</span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall2.jpg" alt="inimgsmall3">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#">Five ugly truths about Gilmore Girls </a></h4>
                              <span class="post-date">Posted On December 22, 2016</span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall3.jpg" alt="inimgsmall3">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#">One more time? Federer’s golden opportunity</a></h4>
                              <span class="post-date">Posted On December 22, 2016</span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall4.jpg" alt="inimgsmall4">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#">Bullied by wedding guests over her dress</a></h4>
                              <span class="post-date">Posted On December 22, 2016</span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall5.jpg" alt="inimgsmall5">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#">Winners and losers we didn’t see coming</a></h4>
                              <span class="post-date">Posted On December 22, 2016</span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall6.jpg" alt="inimgsmall6">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#">TV host’s hand impaled on nail in failed magic trick</a></h4>
                              <span class="post-date">Posted On December 22, 2016</span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall7.jpg" alt="inimgsmall7">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#">Bishop calls for calm over PNG protests</a></h4>
                              <span class="post-date">Posted On December 22, 2016</span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall8.jpg" alt="inimgsmall8">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#">Bishop calls for calm over PNG protests</a></h4>
                              <span class="post-date">Posted On December 22, 2016</span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                     </div></div></div></div>

                  <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
                  <!-- /.most-popular-carousel -->
               </section>
               <section class="latest-reviews">
                  <!-- .title -->
                  <div class="title">
                     <h2><ya-tr-span data-index="108-0" data-value="LATEST REVIEWS" data-translation="ПОСЛЕДНИЕ ОБЗОРЫ" data-type="trSpan">ПОСЛЕДНИЕ ОБЗОРЫ</ya-tr-span></h2>
                  </div>
                  <!-- /.title -->
                  <!-- .latest-reviews-carousel -->
                  <div class="owl-carousel owl-theme carousel" style="opacity: 1; display: block;">
                     <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1132px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 283px;"><div>
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall.jpg" alt="inimgsmall">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#"><ya-tr-span data-index="109-0" data-value="TV host’s hand impaled on nail in failed magic trick" data-translation="Рука телеведущего насажена на гвоздь в неудачном фокусе" data-type="trSpan">Рука телеведущего насажена на гвоздь в неудачном фокусе</ya-tr-span></a></h4>
                              <span class="star">
                                 <ul>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                 </ul>
                              </span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall2.jpg" alt="inimgsmall3">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#"><ya-tr-span data-index="110-0" data-value="Five ugly truths about Gilmore Girls " data-translation="Пять уродливых истин о девушках Гилмор " data-type="trSpan">Пять уродливых истин о девушках Гилмор </ya-tr-span></a></h4>
                              <span class="star">
                                 <ul>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                 </ul>
                              </span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall3.jpg" alt="inimgsmall3">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#"><ya-tr-span data-index="111-0" data-value="One more time? " data-translation="Еще раз? " data-type="trSpan">Еще раз? </ya-tr-span><ya-tr-span data-index="111-1" data-value="Federer’s golden opportunity" data-translation="Золотая возможность Федерера" data-type="trSpan">Золотая возможность Федерера</ya-tr-span></a></h4>
                              <span class="star">
                                 <ul>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                 </ul>
                              </span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall4.jpg" alt="inimgsmall4">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#"><ya-tr-span data-index="112-0" data-value="Bullied by wedding guests over her dress" data-translation="Над ней издевались свадебные гости из-за ее платья" data-type="trSpan">Над ней издевались свадебные гости из-за ее платья</ya-tr-span></a></h4>
                              <span class="star">
                                 <ul>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                 </ul>
                              </span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall5.jpg" alt="inimgsmall5">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#"><ya-tr-span data-index="113-0" data-value="Winners and losers we didn’t see coming" data-translation="Победителей и проигравших мы не предвидели" data-type="trSpan">Победителей и проигравших мы не предвидели</ya-tr-span></a></h4>
                              <span class="star">
                                 <ul>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                 </ul>
                              </span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall6.jpg" alt="inimgsmall6">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#"><ya-tr-span data-index="130-0" data-value="TV host’s hand impaled on nail in failed magic trick" data-translation="Рука телеведущего насажена на гвоздь в неудачном фокусе" data-type="trSpan">Рука телеведущего насажена на гвоздь в неудачном фокусе</ya-tr-span></a></h4>
                              <span class="star">
                                 <ul>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                 </ul>
                              </span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                     </div></div><div class="owl-item" style="width: 283px;"><div>
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall.jpg" alt="inimgsmall">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#">TV host’s hand impaled on nail in failed magic trick</a></h4>
                              <span class="star">
                                 <ul>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                 </ul>
                              </span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall2.jpg" alt="inimgsmall3">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#">Five ugly truths about Gilmore Girls </a></h4>
                              <span class="star">
                                 <ul>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                 </ul>
                              </span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall3.jpg" alt="inimgsmall3">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#">One more time? Federer’s golden opportunity</a></h4>
                              <span class="star">
                                 <ul>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                 </ul>
                              </span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall4.jpg" alt="inimgsmall4">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#">Bullied by wedding guests over her dress</a></h4>
                              <span class="star">
                                 <ul>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                 </ul>
                              </span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall5.jpg" alt="inimgsmall5">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#">Winners and losers we didn’t see coming</a></h4>
                              <span class="star">
                                 <ul>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                 </ul>
                              </span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="assets/img/inimgsmall6.jpg" alt="inimgsmall6">
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="#">TV host’s hand impaled on nail in failed magic trick</a></h4>
                              <span class="star">
                                 <ul>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li class="star-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                 </ul>
                              </span>
                           </div>
                        </div>
                        <!-- /.weghiet -->
                     </div></div></div></div>

                  <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
                  <!-- /.latest-reviews-carousel -->
               </section>
               <section class="recent-comments">
                  <!-- .title -->
                  <div class="title">
                     <h2><ya-tr-span data-index="131-0" data-value="RECENT COMMENTS" data-translation="ПОСЛЕДНИЕ КОММЕНТАРИИ" data-type="trSpan">ПОСЛЕДНИЕ КОММЕНТАРИИ</ya-tr-span></h2>
                  </div>
                  <!-- /.title -->
                  <!-- .recent-comments-carousel -->
                  <div class="owl-carousel owl-theme carousel" style="opacity: 1; display: block;">
                     <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1132px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 283px;"><div>
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-md-12 pad">
                              <strong><ya-tr-span data-index="144-0" data-value="Dean Garcia" data-translation="Дин Гарсия" data-type="trSpan">Дин Гарсия</ya-tr-span></strong><ya-tr-span data-index="144-0" data-value=" on Pedestrian seriously hurt in hit-run near The Parade.
 " data-translation=" на пешеходе серьезно пострадал в наезде возле Парада.
 " data-type="trSpan"> на пешеходе серьезно пострадал в наезде возле Парада.
 </ya-tr-span></div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-md-12 pad">
                              <strong><ya-tr-span data-index="145-0" data-value="Hester Crawford" data-translation="Эстер Кроуфорд" data-type="trSpan">Эстер Кроуфорд</ya-tr-span></strong><ya-tr-span data-index="145-0" data-value=" on Man accused of bashing wife with baseball bat.
 " data-translation=" на Мужчину обвинили в избиении жены бейсбольной битой.
 " data-type="trSpan"> на Мужчину обвинили в избиении жены бейсбольной битой.
 </ya-tr-span></div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-md-12 pad">
                              <strong><ya-tr-span data-index="146-0" data-value="Dean Garcia" data-translation="Дин Гарсия" data-type="trSpan">Дин Гарсия</ya-tr-span></strong><ya-tr-span data-index="146-0" data-value=" on Pedestrian seriously hurt in hit-run near The Parade.
 " data-translation=" на пешеходе серьезно пострадал в наезде возле Парада.
 " data-type="trSpan"> на пешеходе серьезно пострадал в наезде возле Парада.
 </ya-tr-span></div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-md-12 pad">
                              <strong><ya-tr-span data-index="147-0" data-value="Hester Crawford" data-translation="Эстер Кроуфорд" data-type="trSpan">Эстер Кроуфорд</ya-tr-span></strong><ya-tr-span data-index="147-0" data-value=" on Man accused of bashing wife with baseball bat.
 " data-translation=" на Мужчину обвинили в избиении жены бейсбольной битой.
 " data-type="trSpan"> на Мужчину обвинили в избиении жены бейсбольной битой.
 </ya-tr-span></div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-md-12 pad">
                              <strong><ya-tr-span data-index="148-0" data-value="Dean Garcia" data-translation="Дин Гарсия" data-type="trSpan">Дин Гарсия</ya-tr-span></strong><ya-tr-span data-index="148-0" data-value=" on Pedestrian seriously hurt in hit-run near The Parade.
 " data-translation=" на пешеходе серьезно пострадал в наезде возле Парада.
 " data-type="trSpan"> на пешеходе серьезно пострадал в наезде возле Парада.
 </ya-tr-span></div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-md-12 pad">
                              <strong><ya-tr-span data-index="149-0" data-value="Hester Crawford" data-translation="Эстер Кроуфорд" data-type="trSpan">Эстер Кроуфорд</ya-tr-span></strong><ya-tr-span data-index="149-0" data-value=" on Man accused of bashing wife with baseball bat.
 " data-translation=" на мужчину обвинили в избиении жены бейсбольной битой.
 " data-type="trSpan"> на мужчину обвинили в избиении жены бейсбольной битой.
 </ya-tr-span></div>
                        </div>
                        <!-- /.weghiet -->
                     </div></div><div class="owl-item" style="width: 283px;"><div>
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-md-12 pad">
                              <strong><ya-tr-span data-index="150-0" data-value="Dean Garcia" data-translation="Дин Гарсия" data-type="trSpan">Дин Гарсия</ya-tr-span></strong><ya-tr-span data-index="150-0" data-value=" on Pedestrian seriously hurt in hit-run near The Parade.
 " data-translation=" на Пешеходном переходе серьезно пострадал в наезде возле Парада.
 " data-type="trSpan"> на Пешеходном переходе серьезно пострадал в наезде возле Парада.
 </ya-tr-span></div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-md-12 pad">
                              <strong><ya-tr-span data-index="151-0" data-value="Hester Crawford" data-translation="Эстер Кроуфорд" data-type="trSpan">Эстер Кроуфорд</ya-tr-span></strong><ya-tr-span data-index="151-0" data-value=" on Man accused of bashing wife with baseball bat.
 " data-translation=" на мужчину обвинили в избиении жены бейсбольной битой.
 " data-type="trSpan"> на мужчину обвинили в избиении жены бейсбольной битой.
 </ya-tr-span></div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-md-12 pad">
                              <strong><ya-tr-span data-index="152-0" data-value="Dean Garcia" data-translation="Дин Гарсия" data-type="trSpan">Дин Гарсия</ya-tr-span></strong><ya-tr-span data-index="152-0" data-value=" on Pedestrian seriously hurt in hit-run near The Parade.
 " data-translation=" на Пешеходном переходе серьезно пострадал в наезде возле Парада.
 " data-type="trSpan"> на Пешеходном переходе серьезно пострадал в наезде возле Парада.
 </ya-tr-span></div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-md-12 pad">
                              <strong><ya-tr-span data-index="153-0" data-value="Hester Crawford" data-translation="Эстер Кроуфорд" data-type="trSpan">Эстер Кроуфорд</ya-tr-span></strong><ya-tr-span data-index="153-0" data-value=" on Man accused of bashing wife with baseball bat.
 " data-translation=" на мужчину обвинили в избиении жены бейсбольной битой.
 " data-type="trSpan"> на мужчину обвинили в избиении жены бейсбольной битой.
 </ya-tr-span></div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-md-12 pad">
                              <strong><ya-tr-span data-index="154-0" data-value="Dean Garcia" data-translation="Дин Гарсия" data-type="trSpan">Дин Гарсия</ya-tr-span></strong><ya-tr-span data-index="154-0" data-value=" on Pedestrian seriously hurt in hit-run near The Parade.
 " data-translation=" на пешеходе серьезно пострадал в наезде возле Парада.
 " data-type="trSpan"> на пешеходе серьезно пострадал в наезде возле Парада.
 </ya-tr-span></div>
                        </div>
                        <!-- /.weghiet -->
                        <!-- .weghiet -->
                        <div class="weghiet">
                           <div class="col-md-12 pad">
                              <strong><ya-tr-span data-index="155-0" data-value="Hester Crawford" data-translation="Эстер Кроуфорд" data-type="trSpan">Эстер Кроуфорд</ya-tr-span></strong><ya-tr-span data-index="155-0" data-value=" on Man accused of bashing wife with baseball bat.
 " data-translation=" на Мужчину обвинили в избиении жены бейсбольной битой.
 " data-type="trSpan"> на Мужчину обвинили в избиении жены бейсбольной битой.
 </ya-tr-span></div>
                        </div>
                        <!-- /.weghiet -->
                     </div></div></div></div>

                  <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
                  <!-- /.latest-reviews-carousel -->
               </section>
            </div>